footer.footer
  section.locales.cuadro .locales
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: flex-start
    .local
      width: 250px 
      margin: 1em 2em
      color: $color-claro
      line-height: 1em

      h4 
        color: $color-claro
        margin: 0
        font-weight: 600
      p 
        margin-bottom: 0
        font-weight: 300
        color: #ddd
        line-height: 1.2em
        &.icon-compas
          line-height: 2.5em
          font-size: 0.8em
      a 
        color: #ddd
        font-size: 1.3em
        font-family: $font-family
        margin-left: 0.5em
