header .cuadro
  display: flex
  flex-direction: column
  position: relative
  // background: pink
  @include media($large-screen) 
    align-items: flex-start
    flex-direction: row
    justify-content: space-between
  figure.header-logo
    margin: 0.5em 0 0 
    height: 6em
    padding: 0
    // background: purple
    img
      height: 100%

nav.header-menu
  ul.menu 
    list-style: none
    @include display(flex)
    @include justify-content(space-between)
    align-items: center
    width: 100%
    margin: 0
    padding: 0
    // background: pink
    @include media($large-screen) 
    padding: 0 2em
    li 
      margin: 0 0.2em
      a 
        background-color: $color-secundary
        display: block
        color: $color-claro
        line-height: 1.5em
        padding: 0.5em 0.3em 0
        font-size: 1.8em
        &:hover
          text-decoration: none
          background-color: lighten($color-secundary,20)
          color: $color-primary

  