header.header
  position: fixed
  width: 100%
  top: 0
  left: 0
  padding-top: 0.5em
  z-index: 2
  @include media($small-screen) 
    padding-top: 0
  .cuadro
    @include display(flex)
    @include flex-direction(column)
    position: relative
    margin: 0 auto
    padding: 0
    // background: pink
    @include media($small-screen) 
      @include align-items(flex-start)
      @include flex-direction(row)
      @include justify-content(space-between)

  figure.header-logo
    margin: 0 auto 0.5em
    height: 4.5em
    padding: 0.5em 0 0
    img
      height: 100%
    @include media($small-screen) 
      margin: 0

  // &:before
  //   content: ''
  //   position: absolute
  //   bottom: 5em
  //   background: #fff
  //   width: 100%
  //   height: 80%

      display: block
  nav.header-menu
    ul.menu 
      list-style: none
      @include display(flex)
      @include justify-content(space-between)
      @include align-items(center)
      width: 100%
      max-width: 290px
      margin: 0.5em auto
      padding: 0
      padding-bottom: 0.5em
      // background: pink
      @include media($small-screen) 
        padding: 0 2em 0.5em
        max-width: 100%
        margin: 0
      li 
        position: relative
        &:after
          position: absolute
          top: calc(100% + 10px)
          min-width: 100%
          padding:0.5em
          background: #333
          color: $color-claro
          z-index: 10
          display: none
        &:before
          display: none
          position: absolute
          content: ""
          top: 100%
          left: 50%
          margin-left: -5px
          border-top: 2px solid transparent
          border-right: 5px solid transparent
          border-bottom: 10px solid #333
          border-left: 5px solid transparent
          z-index: 11
        &:nth-child(1):after
          content: 'Inicio'
        &:nth-child(2):after
          content: 'Cambios'
        &:nth-child(3):after
          content: 'Nosotros'
        &:nth-child(4):after
          content: 'Clima'
        &:nth-child(5):after
          content: 'Horarios'
        &:nth-child(6):after
          content: 'Politítica de Prevención'
        &:nth-child(7):after
          content: 'Noticias'
        &:nth-child(8):after
          content: 'Contacto'
        &:hover:after,
        &:hover:before
          display: block

        @include media($small-screen) 
          margin: 0 0.2em
        a 
          background-color: lighten($color-secundary,20)
          display: block
          color: $color-claro
          line-height: 1em
          padding: 0
          font-size: 2.5em
          @include media($small-screen) 
            padding: 0
            font-size: 3em
          @include media($large-screen) 
            font-size: 4em
          &:hover,
          &:focus
            text-decoration: none
            background-color: lighten($color-secundary,10)
            color: $color-primary

      