section.cambios .cuadro
	display: flex
	justify-content: space-between
	[class^="cambios-"], [class*=" cambios-"] 
		background: transparentize($color-claro,0.4)
		padding: 1em
		margin: 0.2em
	h2
		margin-top: 0
		text-align: center
		font-size: 1.6em
	table.cotiz-tabla
		line-height: 2.2em
		width: 100%
		font-size: 0.8em
		thead 
			display: none
		tr 
			border-bottom: 1px solid #fff
		.compra,.venta
			font-weight: 600
			padding: 0 0.5em
			text-align: right

