section.noticias .cuadro
	// background: transparentize($color-claro,0.2)
	padding: 5em 3em
	text-align: center
	h2
		text-transform: capitalize
		font-size: 2.5em
		width: 60%
		font-weight: 300
		color: #8DA5BF
		margin: 1em auto 0.5em 
	h3
		color: #8DA5BF
		font-weight: 300
		font-size: 1.7em
	.bloque
		vertical-align: top
		text-align: left
		@include media($middle-screen)
			margin: 2%
			width: 45%
			display: inline-block
		.feedEkList
			list-style: none
			margin: 0
			padding: 0
			li
				margin-bottom: 1em
		.itemDate
			color: lighten($color-text, 50)
			margin: 0.3em 0 0.3em 1em
		a 
			color: $color-text
			font-weight: 300
			display: inline-block
			font-size: 1.2em
			&:before
				content:'> '
				font-size: 0.8em
				position: relative
				top: -2px
			&:hover
				text-decoration: none
				color: $color-primary