section.cambios
	padding-bottom: 7em
	padding-top: 4em
	#sucursal
		color: $color-claro
		max-width: 1024px
		margin: 0 auto

	section.sucursales
		max-width: 1024px
		width: 90%
		margin: 0 auto 0.5em
		color: darken($color-claro,10)
		padding-top: 0
		padding-bottom: 0.5em
		border-radius: 0.5em 
		h4
			color: transparentize($color-claro,0.4)
			margin: 0
		a
			color: transparentize($color-claro,0.4)
			font-weight: 300
			&:hover
				text-decoration: none
				color: darken($color-claro,5)
			&:active
				color: $color-claro

	.cuadro
		@include media($middle-screen) 
			justify-content: space-between
			display: flex
		[class^="cambios-"], [class*=" cambios-"] 
			background: transparentize($color-claro,0.4)
			padding: 1em
			margin: 0.2em
		h2
			margin-top: 0
			text-align: center
			text-transform: uppercase
			font-size: 1em
		table.cotiz-tabla
			width: 100%
			font-size: 0.8em
			// thead 
			// 	display: none
			tr 
				border-bottom: 1px solid #fff
			.compra,.venta
				font-weight: 600
				padding: 0 0.5em
				text-align: right
			td.pais 
				span
					position: relative
					top: -0.7em
				i
					margin-top: 0.5em
					margin-bottom: 0.5em

	section.cotiz.cambios-conversor
		@include display(flex)
		@include justify-content(center)
		@include align-items(center)
		@include flex-direction(column)
		h2
			margin-bottom: 2em
		.conversor 
			flex: none
			text-align: left
			width: 90%
			font-size: 1.2em
			margin: auto
		.label
			text-align: left
			margin: 0.5em 0
			color: $color-primary
			label,select,input
				display: block
				width: 100%
				font-weight: 300
			label
				font-style: italic
			select,input
				height: 2em
			&.resultado
				text-align: right
				font-weight: 700
				font-size: 1.2em
				input
					background: transparent
					border: none
					text-align: center

		.boton
			text-align: center
		button 
			border: none
			margin: 1em auto
			background: $color-primary
			color: $color-claro
			padding: 0.8em 1.8em
			text-transform: uppercase
			font-size: 0.8em

			&:hover
				background: lighten($color-primary,10)

	section.newsletter
		max-width: 1024px
		margin: 0 auto
		width: 90%
		padding-top: 0
		padding-bottom: 0
		border-radius: 0.5em 
		.cont-txt
			padding-right: 2em
			font-family: 0.8em
			width: 100%
			display: block
			@include media($small-screen) 
				display: inline-block
				width: 40%
			h3 
				color: $color-claro
				text-transform: uppercase
				margin: 0
				font-weight: 300
			p 
				color: #fff
				margin-bottom: 0
				line-height: 1
				font-weight: 300
		form
			padding: 1em 1em
			background: transparentize(#ccc, 0.6)
			@include media($small-screen) 
				@include display(flex)
				@include align-items(center)
				#mc_embed_signup_scroll
					display: inline-block
					width: 60%
					@include display(flex)
					@include flex-wrap(wrap)
					@include align-items(center)

			.mc-field-group
				margin: 0 0.5em
				width: 200px
				// width: inherit
				input
					width: inherit
					max-width: 100%
					padding: 0.5em 1em 
					font-size: 1em
					margin-bottom: 0.5em
					font-weight: 300
					color: #999
					border: none

			.clear 
				@include media($middle-screen) 
					text-align: center
				input.button
					border-radius: 0
					color: $color-claro
					padding: 0.5em 1em 
					font-size: 1em
					background: $color-primary
					font-weight: 600
					border: none
					width: auto
					display: inline-block

	@include media($middle-screen) 
		.cotiz.cambios-delDia
			width: 30%
		.cotiz.cambios-Contizacion
			width: 40%
		.cotiz.cambios-conversor
			width: 30%

#form-convertir
	max-width: 100%




