section.cambios#cambios
	.cuadro
		section.cotiz.cambios-delDia
			h2 Cambios Del dia
			table.cotiz-tabla
				thead
					tr
						td.moneda Moneda
						td.compra Compra
						td.venta Venta
				tbody
					+exchange('dolarUs','Dolar US','5.640','5.690')
					+exchange('real','Real','1.480','1.525')
					+exchange('pesoAr','Peso Argentino','340','360')
					+exchange('pesoCh','Peso Chileno','5','10')
					+exchange('pesoUr','Peso Uruguayo','150','220')
					+exchange('dolarCa','Dolar Canadiense','3.650','4.280')
					+exchange('euro','Euro','5.920','6.260')
					+exchange('libra','Libra','7.520','8.390')
					+exchange('franco','Franco Suizo','4.680','5.730')
					+exchange('yen','Yen Japones','43','51')

		section.cotiz.cambios-Contizacion
			h2 Cotizacion de arbitraje
			table.cotiz-tabla
				thead
					tr
						td.moneda Moneda
						td.compra Compra
						td.venta Venta
				tbody
					+arb-exchange('dolarUs','real','Dolar x Real','3,750','3,820')
					+arb-exchange('dolarUs','pesoAr','Dolar x Peso Arg.','15,800','16,400')
					+arb-exchange('dolarUs','dolarCa','Dolar x Dolar Canad.','1,330','1,540')
					+arb-exchange('dolarUs','franco','Dolar x Franco Suizo','1,000','1,200')
					+arb-exchange('dolarUs','yen','Dolar x Yen','112,000','129,000')
					+arb-exchange('euro','dolarUs','Euro x Dolar','1,050','1,100')
					+arb-exchange('libra','dolarUs','Libra Esterlina x Dolar','1,330','1,460')
					+arb-exchange('euro','real','Euro x Real','3,930','4,200')
					+arb-exchange('real','pesoAr','Real x Peso Arg.','4,130','4,370')
					+arb-exchange('libra','real','Libra esterlina x Real','4,980','5,580')
		section.cotiz.cambios-conversor
			h2 Conversor de Divisas
			.conversor
				.label
					label Tengo
					select
						option(value="GuaPy" selected) Guarani
						option(value="dolarUs") Dolar US
						option(value="real") Real
						option(value="pesoAr") Peso Arg
				.label
					label Monto a Cambiar
					input(type="number")
				.label
					label cambiar a
					select
						option(value="GuaPy") Guarani
						option(value="dolarUs" selected) Dolar US
						option(value="real") Real
						option(value="pesoAr") Peso Arg
				.boton: button convertir