section.cambios#cambios
	h1#sucursal Casa Matriz
	section.sucursales
		h4 
			| Ver cotizacion en: 
			a(href="#")  Casa Matriz | 
			a(href="#") Agencia Vendome | 
			a(href="#") Agencia Jebai | 
			a(href="#") Avencia Km4 | 
			a(href="#") Sucursal Salto del Guairá
	.cuadro
		section.cotiz.cambios-delDia
			h2 Cambios Del dia
			table.cotiz-tabla
				thead
					tr
						td.moneda Moneda
						td.compra Compra
						td.venta Venta
				tbody
					+exchange('dolarUs','Dolar US','5.640','5.690')
					+exchange('real','Real','1.480','1.525')
					+exchange('pesoAr','Peso Argentino','340','360')
					+exchange('pesoCh','Peso Chileno','5','10')
					+exchange('pesoUr','Peso Uruguayo','150','220')
					+exchange('dolarCa','Dolar Canadiense','3.650','4.280')
					+exchange('euro','Euro','5.920','6.260')
					+exchange('libra','Libra','7.520','8.390')
					+exchange('franco','Franco Suizo','4.680','5.730')
					+exchange('yen','Yen Japones','43','51')

		section.cotiz.cambios-Contizacion
			h2 Cotizacion de arbitraje
			table.cotiz-tabla
				thead
					tr
						td.moneda Moneda
						td.compra Compra
						td.venta Venta
				tbody
					+arb-exchange('dolarUs','real','Dolar x Real','3,750','3,820')
					+arb-exchange('dolarUs','pesoAr','Dolar x Peso Arg.','15,800','16,400')
					+arb-exchange('dolarUs','dolarCa','Dolar x Dolar Canad.','1,330','1,540')
					+arb-exchange('dolarUs','franco','Dolar x Franco Suizo','1,000','1,200')
					+arb-exchange('dolarUs','yen','Dolar x Yen','112,000','129,000')
					+arb-exchange('euro','dolarUs','Euro x Dolar','1,050','1,100')
					+arb-exchange('libra','dolarUs','Libra Esterlina x Dolar','1,330','1,460')
					+arb-exchange('euro','real','Euro x Real','3,930','4,200')
					+arb-exchange('real','pesoAr','Real x Peso Arg.','4,130','4,370')
					+arb-exchange('libra','real','Libra esterlina x Real','4,980','5,580')
		section.cotiz.cambios-conversor
			h2 Conversor de Divisas
			.conversor
				.label
					label Tengo
					select
						option(value="GuaPy" selected) Guarani
						option(value="dolarUs") Dolar US"
						option(value="real") Real
						option(value="pesoAr") Peso Arg
				.label
					label Monto a Cambiar
					input(type="number")
				.label
					label cambiar a
					select
						option(value="GuaPy") Guarani
						option(value="dolarUs" selected) Dolar US
						option(value="real") Real
						option(value="pesoAr") Peso Arg
				.boton: button convertir
	section.newsletter#mc_embed_signup
		form#mc-embedded-subscribe-form.validate(action='//google.us13.list-manage.com/subscribe/post?u=c46b1c2e06e65f6f649d3880d&id=46ed58addb', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
			#mc_embed_signup_scroll
				.cont-txt
					h3 Newsletter
					p Reciba las cotizaciones actualizadas diariemente en su correo
				.mc-field-group
					label(for='mce-EMAIL')
					input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', aria-required='true', placeholder="Email")
				.mc-field-group
					label(for='mce-FNAME')
					input#mce-FNAME(type='text', value='', name='FNAME',placeholder="Nombre")
				#mce-responses.clear
					#mce-error-response.response(style='display:none')
					| &#x9;&#x9;
					#mce-success-response.response(style='display:none')
				// real people should not fill this in and expect good things - do not remove this or risk form bot signups
				div(style='position: absolute; left: -5000px;', aria-hidden='true')
					input(type='text', name='b_c46b1c2e06e65f6f649d3880d_46ed58addb', tabindex='-1', value='')
				.clear
					input#mc-embedded-subscribe.button(type='submit', value='Enviar', name='subscribe')