section.clima#clima
	.cuadro
		h2 clima
		p.clima-tiempo
			i.icon-sun
			|37°
		+clima('Viernes','rainy','22','15','Lluvioso')
		+clima('Sabado','sun','22','15','Soleado')
		+clima('Domingo','cloudy','22','15','Parcialmente Nublado')
		+clima('Lunes','lightning','22','15','tormenta')
		+clima('Martes','cloudy','22','15','Parcialmente Nublado')
	//- hr.white