section.clima#clima
	.cuadro
		h2 clima
		p.clima-tiempo
			i.icon-cloudy
			| 13°
		+clima('Sabado','rainy','29','13','Chaparrones dispersos')
		+clima('Domingo','rainy','17','11','Lluvia')
		+clima('Lunes','rainy','16','8','Lluvia')
		+clima('Martes','cloudy','16','5','Parcialmente Nublado')
		+clima('Miercoles','cloudy','17','4','Parcialmente Nublado')
	//- hr.white