footer.footer#footer
		section.form.cuadro
			h2 contáctenos
			p Puede enviar un mensaje usando el siguiente formulario de contacto. 
			p Por favor llene los campos requeridos.
			form
				.label
					label Nombre y apellido
					input(type="text")
				.label
					label E-mail
					input(type="email")
				.label
					label Teléfono
					input(type="text")
				.label.mensaje
					label Mensaje
					textarea
				.label
					label
					.button: a(href="#") Enviar
		article.locales.cuadro
			.locales
				+local(
					'Casa Matriz',
					'Avda. Curupyty c/ Adrián Jara. Edif.Globo P.B.',
					'Tel. +595 61 509570',
					'#'
					)
				+local(
					'Sucursal Saltos',
					'Avda. Paraguay c/ Bernardino Caballero.',
					'Tel. +595 46 263 030',
					'#'
					)
				+local(
					'Sucursal Vendome',
					'Avda. Itá Ybaté c/Adrián jara. Shopp. Vendome. Local 109',
					'Tel. +595 61 511 630',
					'#'
					)
				+local(
					'Sucursal KM4 Super Carrereta',
					'Sentido Pdte.Franco, a 100 mts. de la rotonda',
					'Tel. +595 61 571 070',
					'#'
					)
				+local(
					'Sucursal Katueté',
					'Ruta X De las Residentas.',
					'Tel. +595 471 234 187/8',
					'#'
					)
				+local(
					'Sucursal Galeria Jebai Center',
					'Avda. Adrian Jara',
					'',
					'#'
					)
		//- section.creators
		//- 	p.fincreativo Desarrollado por:
		//- 		a(href="#") Fincreativo