header.header#header
	.cuadro
		figure.header-logo: +img('','Logo-MundialCambios','png')
		nav.header-menu
			ul.menu
				li: a(href="#cambios" title="Inicio"): span.icon-mundial1
				li: a(href="#cambios" title="Cambios"): span.icon-mundial2
				li: a(href="#mundialCambios" title="Nosotros"): span.icon-mundial3
				li: a(href="#clima" title="Clima"): span.icon-mundial4
				li: a(href="#horarios" title="Horarios"): span.icon-mundial5
				li: a(href="#politica" title="Polotíca de prevención"): span.icon-mundial6
				li: a(href="#noticias" title="Noticias"): span.icon-mundial7
				li: a(href="#footer" title="Contacto"): span.icon-mundial8