header.header#header
	.cuadro
		figure.header-logo: +img('','Logo-MundialCambios','png')
		nav.header-menu
			ul.menu
				li: a(href="#header"): span.icon-mundial1
				li: a(href="#cambios"): span.icon-mundial2
				li: a(href="#mundialCambios"): span.icon-mundial3
				li: a(href="#clima"): span.icon-mundial4
				li: a(href="#horarios"): span.icon-mundial5
				li: a(href="#noticias"): span.icon-mundial6
				li: a(href="#footer"): span.icon-mundial7