section.horarios#horarios
	.cuadro
		h2 Horario Mundial
		.horas
			+hora('51','Argentina')
			+hora('233','Brasil')
			+hora('232','Chile')
			+hora('190','Ecuador')
			+hora('179','EEUU')
			+hora('136','Inglaterra')
			+hora('141','España')
			+hora('41','Colombia')