section.mundialCambios#mundialCambios
	.cuadro

		figure.slides
			.slide
				p Mundial Cambios tiene algo lindo que mostrar; una tierra de costumbres sencillas, como cantaba Mario Ortíz Mayans, que siempre agradan porque no tienen complicación, con paisajes que cubren de paz el alma y gente que trabaja con pasión para alcanzar sus sueños. Te mostramos Paraguay.
				img(src="assets/img/Logo-MundialCambios.png", alt="")
			.slide
				p Mundial Cambios tiene algo lindo que mostrar; una tierra de costumbres sencillas, como cantaba Mario Ortíz Mayans, que siempre agradan porque no tienen complicación, con paisajes que cubren de paz el alma y gente que trabaja con pasión para alcanzar sus sueños. Te mostramos Paraguay.
				img(src="assets/img/Logo-MundialCambios.png", alt="")
			.slide
				p Mundial Cambios tiene algo lindo que mostrar; una tierra de costumbres sencillas, como cantaba Mario Ortíz Mayans, que siempre agradan porque no tienen complicación, con paisajes que cubren de paz el alma y gente que trabaja con pasión para alcanzar sus sueños. Te mostramos Paraguay.
				img(src="assets/img/Logo-MundialCambios.png", alt="")