section.noticias#noticias
	.cuadro.noticias
		h2 noticias
		.bloque
			h3 internacionales
			a(href="#") ¿Qué hará China para abrir su mercado de capitales?
			a(href="#") Desmienten medidas de corte de luz en cines y teatros en Venezuela
			a(href="#") Las tres cosas que podrían descarrilar a EE.UU. según Yellen
			a(href="#") Perú presenta guía de negocios e inversión en gas y petróleo
			
		.bloque
			h3 Del Agro
			a(href="#") Gramogen participará en el IPPE 2016
			a(href="#") La Xilanasa de BRI recibe Aprobación por las Entidades Regulatorias de Brasil y Perú
			a(href="#") Producción de pollo alcanzó récord con 673 mlls. de unidades en el 2015
			a(href="#") En abril definirán franja de precios para productos que sustentan el sector pecuario