section.politica#politica
	.cuadro.politica
		h2 Política de prevención
		p No estamos recibiendo billetes de la nueva serie de U$S 100 (Cien dólares americanos) que contengan la cinta de seguridad con la franja verde vertical ubicada en el lado derecho de la imagen de Benjamín Franklin. Como pueden observar, la franja de color verde vertical se identifica a simple vista sin ayuda de un detector.

		.billetes
			figure
				p Billete con franja verde fuera de circulación
				img(src="assets/img/billete-out.jpg", alt="Billetes fuera de circulación")
			figure
				p Billete con franja azul de normal circulación
				img(src="assets/img/billete-in.jpg", alt="Billetes en circulación")
		p Más información sobre las características de 
			span seguridad del billete de U$S 100

		h3 Políticas de Prevención e Identificación del Lavado de Activos y otros delitos

		p En consonancia con el inmenso y plausible esmero a la adopción de políticas, sistemas o recursos que pudieran contribuir para la identificación de probables operaciones de Lavado de Dinero, tanto de las autoridades nacionales, internacionales y las diversas asociaciones del ámbito financiero, y a fin de evitar en el futuro eventuales consecuencias perjudiciales e innecesarias para la Empresa, el Directorio de Mundial Cambios S.A., declara como primacía trascendental la lucha contra el Lavado de Dinero y Otros Delitos y Faltas del Sistema Financiero.

		p El éxito de la protección radica primordialmente, en la medida en que cada uno de los funcionarios de la empresa, dispongan su cooperación, a fin de estar siempre alertas, procurando en todo momento aplicar correctamente el sistema de prevención y consecuentemente estar atentos ante las eventuales estratagemas de Lavado de Dinero procedentes del narcotráfico, crimen, terrorismo o de otra actividad ilícita.

		p Nuestro objetivo prioritario es el de regular las actuaciones, las obligaciones y los procedimientos con el fin de prevenir e impedir que los servicios ofrecidos por la Empresa sean utilizados en la realización de actos destinados a legitimar los bienes o el dinero derivados, ya sea en forma directa o indirecta, de actividades delictivas o ilícitas.

		h3 Para cumplir con tales objetivos disponemos de políticas de prevención:
		ol.lista
			li Manual de Conducta donde están definidos:
				ul
					li Comité de Prevención de Lavado de Dinero
					li Rol del Departamento de Cumplimiento
					li Registros de operaciones
					li Identificación y el conocimiento de los cliente
			li Políticas de Conocimiento del Empleado
			li Programas de Capacitación Interna
			li Procedimientos de Control Interno
			li Código de Ética
		p Es por ello que existe la confianza, de que tanto los funcionarios como nuestros clientes continúen apoyando a la Sociedad en nuestro compromiso de desempeñar un papel activo en esta constante lucha contra cualquier actividad ilícita.
