//colores
$color-primary: #902c30
$color-secundary: #898b8f
$color-secundary-claro: lighten($color-secundary,20)

$color-text: #222

$color-oscuro: #222
$color-claro: #fff

$color-accent: $color-primary
$color-bg: #FFFFFF
$color-link: $color-accent
$color-selection: lighten($color-primary,20)

$color-action: $color-primary
$color-facebook: #44619D

//padding bottom
$s-header: 2rem
// 2rem
$s-cambios: 2rem
// 8rem
$s-mundialCambios: 2rem
// 8rem
$s-clima: 2rem
// 10rem
$s-white: 2rem
// 8rem
$s-horarios: 2rem
// 10rem
$s-noticias: 2rem
// 10rem


//Fuentes

$font-family: "ubuntu" , sans-serif

// Screem
$small-screen: 35rem
$middle-screen: 47rem
$large-screen: 58rem

// Otros
$base-border-radius: 0.5rem
$base-spacing: 1.5em 
$dark-gray: #333 
$light-gray: #DDD 