extends _layout/default
include _mixin/base

block title
	title Mundial Cambios
	meta(name='description', content='Mundial cambios - divisas')

block body
	include _sections/cambios
	include _sections/mundialcambios
	include _sections/clima
	include _sections/horarios
	include _sections/noticias
	include _sections/footer
	
	
	
	
	
	
	
	