.wrapper
  max-width: 1680px
  margin: 2em auto 0
  overflow: hidden
  position: relative
  z-index: 1
.cuadro
  // background-color: purple
  max-width: 1024px
  width: 90%
  min-height: 200px
  margin: 0 auto
  position: relative
  transform: none

section, header, hr.white
  position: relative
  margin: 0
  padding: 1.5em 0 
  background:
    color: transparent
    size: cover
    position: bottom center
    repeat: no-repeat
  // @include media($small-screen) 
  //   background-size: 1024px
  // @include media($large-screen) 
  //   background-size: 1024px
hr.white
  position: absolute
  bottom: 0


header.header
  padding-bottom: $s-header
  z-index: 8
  background: 
    image: url('../img/bg/bg-header.png')
    position: bottom left
    size: cover
  .cuadro
    min-height: auto
    background-color: none

section 
  padding-top: 7em

section.cambios
  // padding-bottom: $s-cambios
  // padding-top: $s-header * 3
  // margin-top: $s-header
  z-index: 7
  background: 
    // color: red
    image: url('../img/bg/bg-cambios.png')

section.mundialCambios
  // padding-bottom: $s-mundialCambios
  // padding-top: $s-cambios
  // margin-top: -$s-cambios
  z-index: 6
  background: 
    // color: magenta
    image: url('../img/bg/bg-withe.png')

section.clima
  // padding-bottom: $s-clima
  // padding-top: $s-mundialCambios 
  // margin-top: -$s-mundialCambios
  z-index: 5
  background: 
    // color: blue
    image: url('../img/bg/bg-clima.png')

hr.white
  border: 0px
  margin: 0
  padding: 0
  height: 10rem  
  // padding-bottom: $s-white
  // margin-top: -$s-white + 3
  z-index: 4
  background:
    // color: cyan
    image: url('../img/bg/bg-withe.png')

section.horarios
  // padding-bottom: $s-horarios
  // padding-top: $s-white
  // margin-top: -$s-white
  padding-bottom: 6em
  z-index: 3
  background: 
    // color: green
    image: url('../img/bg/bg-horaMundial.png')

section.politica
  // padding-bottom: $s-noticias
  // padding-top: $s-horarios
  // margin-top: -$s-horarios 
  z-index: 2
  background: 
    // color: yellow
    image: url('../img/bg/bg-withe-shadow.png')

section.noticias
  // padding-bottom: $s-noticias
  // padding-top: $s-horarios
  // margin-top: -$s-horarios 
  z-index: 1
  background: 
    // color: yellow
    image: url('../img/bg/bg-withe.png')

footer.footer
  // padding-top: $s-noticias
  // margin-top: -$s-noticias
  z-index: 0
  background: 
    color: $color-primary



.creators p
  margin: 0
  line-height: 2em

