@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?mfe6mg");
  src: url("../fonts/icomoon.eot?mfe6mg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mfe6mg") format("truetype"), url("../fonts/icomoon.woff?mfe6mg") format("woff"), url("../fonts/icomoon.svg?mfe6mg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e8b5";
}

.icon-nosotros:before {
  content: "\e227";
}

.icon-edificio:before {
  content: "\e7ee";
}

.icon-contactos:before {
  content: "\e0cd";
}

.icon-home:before {
  content: "\e906";
}

.icon-sun:before {
  content: "\e900";
}

.icon-cloudy:before {
  content: "\e901";
}

.icon-rainy:before {
  content: "\e902";
}

.icon-lightning:before {
  content: "\e903";
}

.icon-compas:before {
  content: "\e904";
}

.icon-Celsius:before {
  content: "\e905";
}

.icon-noticias:before {
  content: "\e907";
}

.icon-nosotros2:before {
  content: "\e908";
}

@font-face {
  font-family: 'icomoon2';
  src: url("../fonts/icomoon2.eot?rc41eg");
  src: url("../fonts/icomoon2.eot?rc41eg#iefix") format("embedded-opentype"), url("../fonts/icomoon2.ttf?rc41eg") format("truetype"), url("../fonts/icomoon2.woff?rc41eg") format("woff"), url("../fonts/icomoon2.svg?rc41eg#icomoon2") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-mundial"], [class*=" icon-mundial"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mundial1:before {
  content: "\e900";
}

.icon-mundial2:before {
  content: "\e901";
}

.icon-mundial3:before {
  content: "\e902";
}

.icon-mundial4:before {
  content: "\e903";
}

.icon-mundial5:before {
  content: "\e904";
}

.icon-mundial6:before {
  content: "\e905";
}

.icon-mundial7:before {
  content: "\e906";
}

.icon-mundial8:before {
  content: "\e907";
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "ubuntu", sans-serif;
  color: #222;
  font-weight: 600;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  color: #6f6f6f;
  font-weight: 400;
}

p {
  margin: 0 0 1em 0;
  line-height: 1.6;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
  width: 100%;
  -webkit-flex-shrink: 100%;
      -ms-flex-negative: 100%;
          flex-shrink: 100%;
}

a {
  color: #902c30;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #cc565b;
  text-decoration: underline;
}

::-moz-selection {
  background: #cc565b;
  color: white;
}

::selection {
  background: #cc565b;
  color: white;
}

::-moz-selection {
  background: #cc565b;
  color: white;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #cc565b;
  color: white;
}

html,
body {
  min-height: 100vh;
}

body {
  font-size: 16px;
  line-height: 1.1;
  font-family: "ubuntu", sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.preload {
  background: #eee;
  height: 100vh;
  padding-top: 15%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;
}

.preload img {
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
}

.loading {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  border-radius: 80px;
  border: 3px solid rgba(144, 44, 48, 0.3);
  margin: 1em;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: loading 3s linear infinite;
  animation: loading 3s linear infinite;
}

.loading:after {
  content: "";
  position: absolute;
  top: -2.5px;
  left: 20px;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background-color: #902c30;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-controls {
  margin: auto;
}

.owl-carousel .owl-controls .owl-nav div {
  width: 200px;
  display: inline-block;
  margin: 1em;
}

.owl-carousel .owl-controls .owl-dots {
  height: 40px;
  text-align: center;
  width: 100%;
}

.owl-carousel .owl-controls .owl-dots .owl-dot {
  background-color: #ddd;
  box-shadow: 0 1px 0 0 #666;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0.5em;
}

.owl-carousel .owl-controls .owl-dots .owl-dot:hover {
  background: #ccc;
}

.owl-carousel .owl-controls .owl-dots .owl-dot.active {
  top: 1px;
  box-shadow: none;
  background: #902c30;
}

.moneda {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-image: url("../img/cotiz-icons.png");
  background-size: 105px 555px;
  margin: 0 6px;
  transition: .3s 	ease-in-out;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.moneda.dolarUs {
  background-position: 0 0;
}

.moneda.pesoAr {
  background-position: 0 -20px;
}

.moneda.real {
  background-position: 0 -40px;
}

.moneda.euro {
  background-position: 0 -60px;
}

.moneda.pesoUr {
  background-position: 0 -80px;
}

.moneda.pesoCh {
  background-position: 0 -100px;
}

.moneda.dolarCa {
  background-position: 0 -120px;
}

.moneda.libra {
  background-position: 0 -140px;
}

.moneda.franco {
  background-position: 0 -160px;
}

.moneda.yen {
  background-position: 0 -180px;
}

.moneda.pesoMx {
  background-position: 0 -200px;
}

.moneda.boliviano {
  background-position: 0 -220px;
}

.moneda.coronaNor {
  background-position: 0 -240px;
}

.moneda.pesoCo {
  background-position: 0 -260px;
}

.moneda.dolarAu {
  background-position: 0 -280px;
}

.moneda.coronaDan {
  background-position: 0 -300px;
}

.moneda.coronaSue {
  background-position: 0 -320px;
}

.moneda.ranSud {
  background-position: 0 -340px;
}

.moneda.yuan {
  background-position: 0 -360px;
}

.moneda.usTw {
  background-position: 0 -380px;
}

.moneda.usSg {
  background-position: 0 -400px;
}

.moneda.rublo {
  background-position: 0 -420px;
}

.moneda.shekel {
  background-position: 0 -440px;
}

.moneda.dinar {
  background-position: 0 -460px;
}

.moneda.guarani {
  background-position: 0 -480px;
}

.moneda.pen {
  background-position: 0 -500px;
}

.moneda.arbitraje {
  width: 27px;
  height: 8px;
}

.estado {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../images/cotiz-icons.png");
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
      transform: scale(0.5);
  margin: -8px;
}

.estado.suba {
  background-position: -66px -7px;
}

.estado.baja {
  background-position: -66px -50px;
}

.estado.igual {
  background-position: -66px -90px;
}

.xpanel .dummy {
  display: none;
}

.xpanel > * {
  box-sizing: border-box;
  z-index: 100;
  width: 100%;
}

.xpanel.shadow:not(.reverse) .in, .xpanel.shadow:not(.reverse) .out {
  box-shadow: 0 2px 20px #252525;
}

.xpanel.shadow.reverse .in, .xpanel.shadow.reverse .out {
  box-shadow: 0 -2px 20px #252525;
}

.xpanel.dim > *:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  pointer-events: none;
}

.xpanel.dim.scroll-down:not(.reverse) .in:before,
.xpanel.dim.scroll-up.reverse .in:before {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.4);
  -webkit-animation: xpanel-lighten 0.8s forwards;
  animation: xpanel-lighten 0.8s forwards;
}

.xpanel.dim.scroll-down.reverse .out:before,
.xpanel.dim.scroll-up:not(.reverse) .out:before {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.4);
  transition: background-color 0.8s ease;
}

.xpanel:not(.reverse).scroll-down .out {
  position: relative;
  z-index: 300;
  bottom: 0 !important;
}

.xpanel:not(.reverse).scroll-down .out + .dummy {
  display: block;
}

.xpanel:not(.reverse).scroll-down .in {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}

.xpanel:not(.reverse).scroll-up .in {
  position: relative;
  z-index: 300;
}

.xpanel:not(.reverse).scroll-up .in + .dummy {
  display: block;
}

.xpanel:not(.reverse).scroll-up .out {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}

.xpanel.reverse.scroll-down .out {
  position: fixed;
  left: 0;
  bottom: 0;
  top: auto !important;
  z-index: 200;
}

.xpanel.reverse.scroll-down .out + .dummy {
  display: block;
}

.xpanel.reverse.scroll-down .in {
  position: relative;
  z-index: 300;
}

.xpanel.reverse.scroll-up .in {
  position: fixed;
  left: 0;
  bottom: 0;
  top: auto !important;
  z-index: 200;
}

.xpanel.reverse.scroll-up .in + .dummy {
  display: block;
}

.xpanel.reverse.scroll-up .out {
  position: relative;
  z-index: 300;
}

@-webkit-keyframes xpanel-lighten {
  100% {
    background-color: transparent;
  }
}

@keyframes xpanel-lighten {
  100% {
    background-color: transparent;
  }
}

.mapa {
  margin-bottom: 1em;
  border-radius: 1em;
  overflow: hidden;
  border-bottom: 5px solid #902c30;
  width: 100%;
  height: 100%;
}

.mapa img {
  max-width: none;
}

.mapa .content {
  padding: 0;
}

.mapa .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
  color: #902c30;
}

.mapa .bodyContent {
  font-size: 1em;
  margin: 0;
  color: #888;
}

.modal label {
  cursor: pointer;
  margin-bottom: 0;
}

.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}

.modal .modal-state {
  display: none;
}

.modal .modal-fade-screen {
  transition: opacity 0.25s ease;
  position: fixed;
  top: auto;
  right: 0;
  bottom: 1em;
  left: 0;
  background-color: rgba(144, 44, 48, 0.7);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999;
}

@media screen and (min-width: 35rem) {
  .modal .modal-fade-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10em;
  }
}

.modal .modal-fade-screen .modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal .modal-close {
  position: absolute;
  top: 0.6em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}

.modal .modal-close:after, .modal .modal-close:before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 1.5em;
  width: 0.15em;
  background: #DDD;
  content: '';
  display: block;
  margin: -3px 0 0 -1px;
}

.modal .modal-close:hover:after, .modal .modal-close:hover:before {
  background: #c4c4c4;
}

.modal .modal-close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal .modal-inner {
  transition: opacity 0.25s ease;
  background: transparent;
  border-radius: 0.5rem;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  height: 400px;
  overflow: hidden;
  padding: 1em;
  padding-top: 3em;
  position: relative;
  width: 95%;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner {
    max-height: 70%;
    width: 60%;
  }
}

@media screen and (min-width: 58rem) {
  .modal .modal-inner {
    width: 50%;
  }
}

.modal .modal-inner h2 {
  color: #333;
  text-align: left;
  text-transform: capitalize;
}

.modal .modal-inner p {
  color: black;
  line-height: 1.5em;
}

.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}

.modal .modal-inner .modal-content {
  color: black;
}

@media screen and (min-width: 40em) {
  .modal .modal-inner .modal-content {
    -webkit-columns: 2 8em;
    -moz-columns: 2 8em;
    columns: 2 8em;
  }
}

.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}

.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}

.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}

.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

.modal-open {
  overflow: hidden;
}

header.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 0.5em;
  z-index: 2;
}

@media screen and (min-width: 35rem) {
  header.header {
    padding-top: 0;
  }
}

header.header .cuadro {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 35rem) {
  header.header .cuadro {
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    box-orient: horizontal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
  }
}

header.header figure.header-logo {
  margin: 0 auto 0.5em;
  height: 4.5em;
  padding: 0.5em 0 0;
}

header.header figure.header-logo img {
  height: 100%;
}

@media screen and (min-width: 35rem) {
  header.header figure.header-logo {
    margin: 0;
  }
}

header.header nav.header-menu ul.menu {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  width: 100%;
  max-width: 290px;
  margin: 0.5em auto;
  padding: 0;
  padding-bottom: 0.5em;
}

@media screen and (min-width: 35rem) {
  header.header nav.header-menu ul.menu {
    padding: 0 2em 0.5em;
    max-width: 100%;
    margin: 0;
  }
}

header.header nav.header-menu ul.menu li {
  position: relative;
}

header.header nav.header-menu ul.menu li:after {
  position: absolute;
  top: calc(100% + 10px);
  min-width: 100%;
  padding: 0.5em;
  background: #333;
  color: #fff;
  z-index: 10;
  display: none;
}

header.header nav.header-menu ul.menu li:before {
  display: none;
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-top: 2px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #333;
  border-left: 5px solid transparent;
  z-index: 11;
}

header.header nav.header-menu ul.menu li:nth-child(1):after {
  content: 'Inicio';
}

header.header nav.header-menu ul.menu li:nth-child(2):after {
  content: 'Cambios';
}

header.header nav.header-menu ul.menu li:nth-child(3):after {
  content: 'Nosotros';
}

header.header nav.header-menu ul.menu li:nth-child(4):after {
  content: 'Clima';
}

header.header nav.header-menu ul.menu li:nth-child(5):after {
  content: 'Horarios';
}

header.header nav.header-menu ul.menu li:nth-child(6):after {
  content: 'Politítica de Prevención';
}

header.header nav.header-menu ul.menu li:nth-child(7):after {
  content: 'Noticias';
}

header.header nav.header-menu ul.menu li:nth-child(8):after {
  content: 'Contacto';
}

header.header nav.header-menu ul.menu li:hover:after, header.header nav.header-menu ul.menu li:hover:before {
  display: block;
}

@media screen and (min-width: 35rem) {
  header.header nav.header-menu ul.menu li {
    margin: 0 0.2em;
  }
}

header.header nav.header-menu ul.menu li a {
  background-color: #bdbec1;
  display: block;
  color: #fff;
  line-height: 1em;
  padding: 0;
  font-size: 2.5em;
}

@media screen and (min-width: 35rem) {
  header.header nav.header-menu ul.menu li a {
    padding: 0;
    font-size: 3em;
  }
}

@media screen and (min-width: 58rem) {
  header.header nav.header-menu ul.menu li a {
    font-size: 4em;
  }
}

header.header nav.header-menu ul.menu li a:hover, header.header nav.header-menu ul.menu li a:focus {
  text-decoration: none;
  background-color: #a3a5a8;
  color: #902c30;
}

section.cambios {
  padding-bottom: 7em;
  padding-top: 4em;
}

section.cambios #sucursal {
  color: #fff;
  max-width: 1024px;
  margin: 0 auto;
}

section.cambios section.sucursales {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto 0.5em;
  color: #e6e6e6;
  padding-top: 0;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
}

section.cambios section.sucursales h4 {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

section.cambios section.sucursales a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

section.cambios section.sucursales a:hover {
  text-decoration: none;
  color: #f2f2f2;
}

section.cambios section.sucursales a:active {
  color: #fff;
}

@media screen and (min-width: 47rem) {
  section.cambios .cuadro {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

section.cambios .cuadro [class^="cambios-"], section.cambios .cuadro [class*=" cambios-"] {
  background: rgba(255, 255, 255, 0.6);
  padding: 1em;
  margin: 0.2em;
}

section.cambios .cuadro h2 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

section.cambios .cuadro table.cotiz-tabla {
  width: 100%;
  font-size: 0.8em;
}

section.cambios .cuadro table.cotiz-tabla tr {
  border-bottom: 1px solid #fff;
}

section.cambios .cuadro table.cotiz-tabla .compra, section.cambios .cuadro table.cotiz-tabla .venta {
  font-weight: 600;
  padding: 0 0.5em;
  text-align: right;
}

section.cambios .cuadro table.cotiz-tabla td.pais span {
  position: relative;
  top: -0.7em;
}

section.cambios .cuadro table.cotiz-tabla td.pais i {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

section.cambios section.cotiz.cambios-conversor {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  box-orient: vertical;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

section.cambios section.cotiz.cambios-conversor h2 {
  margin-bottom: 2em;
}

section.cambios section.cotiz.cambios-conversor .conversor {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  text-align: left;
  width: 90%;
  font-size: 1.2em;
  margin: auto;
}

section.cambios section.cotiz.cambios-conversor .label {
  text-align: left;
  margin: 0.5em 0;
  color: #902c30;
}

section.cambios section.cotiz.cambios-conversor .label label, section.cambios section.cotiz.cambios-conversor .label select, section.cambios section.cotiz.cambios-conversor .label input {
  display: block;
  width: 100%;
  font-weight: 300;
}

section.cambios section.cotiz.cambios-conversor .label label {
  font-style: italic;
}

section.cambios section.cotiz.cambios-conversor .label select, section.cambios section.cotiz.cambios-conversor .label input {
  height: 2em;
}

section.cambios section.cotiz.cambios-conversor .label.resultado {
  text-align: right;
  font-weight: 700;
  font-size: 1.2em;
}

section.cambios section.cotiz.cambios-conversor .label.resultado input {
  background: transparent;
  border: none;
  text-align: center;
}

section.cambios section.cotiz.cambios-conversor .boton {
  text-align: center;
}

section.cambios section.cotiz.cambios-conversor button {
  border: none;
  margin: 1em auto;
  background: #902c30;
  color: #fff;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 0.8em;
}

section.cambios section.cotiz.cambios-conversor button:hover {
  background: #b7383d;
}

section.cambios section.newsletter {
  max-width: 1024px;
  margin: 0 auto;
  width: 90%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0.5em;
}

section.cambios section.newsletter .cont-txt {
  padding-right: 2em;
  font-family: 0.8em;
  width: 100%;
  display: block;
}

@media screen and (min-width: 35rem) {
  section.cambios section.newsletter .cont-txt {
    display: inline-block;
    width: 40%;
  }
}

section.cambios section.newsletter .cont-txt h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 300;
}

section.cambios section.newsletter .cont-txt p {
  color: #fff;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 300;
}

section.cambios section.newsletter form {
  padding: 1em 1em;
  background: rgba(204, 204, 204, 0.4);
}

@media screen and (min-width: 35rem) {
  section.cambios section.newsletter form {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
  }
  section.cambios section.newsletter form #mc_embed_signup_scroll {
    display: inline-block;
    width: 60%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
  }
}

section.cambios section.newsletter form .mc-field-group {
  margin: 0 0.5em;
  width: 200px;
}

section.cambios section.newsletter form .mc-field-group input {
  width: inherit;
  max-width: 100%;
  padding: 0.5em 1em;
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: 300;
  color: #999;
  border: none;
}

@media screen and (min-width: 47rem) {
  section.cambios section.newsletter form .clear {
    text-align: center;
  }
}

section.cambios section.newsletter form .clear input.button {
  border-radius: 0;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1em;
  background: #902c30;
  font-weight: 600;
  border: none;
  width: auto;
  display: inline-block;
}

@media screen and (min-width: 47rem) {
  section.cambios .cotiz.cambios-delDia {
    width: 30%;
  }
  section.cambios .cotiz.cambios-Contizacion {
    width: 40%;
  }
  section.cambios .cotiz.cambios-conversor {
    width: 30%;
  }
}

#form-convertir {
  max-width: 100%;
}

section.mundialCambios {
  position: relative;
}

section.mundialCambios .cuadro {
  padding: 10em auto 2em;
}

section.mundialCambios p {
  color: #BE6403;
  font-size: 1.2em;
  line-height: 1.4em;
  max-width: 600px;
  position: relative;
  z-index: 2;
  margin-top: 20%;
}

section.mundialCambios img {
  display: none;
}

section.mundialCambios figure.slides {
  height: 25em;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

section.mundialCambios figure.slides .slide {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

section.mundialCambios figure.slides .slide p {
  max-width: 50%;
  height: auto;
  margin: 0;
  padding-right: 2em;
  text-align: justify;
}

section.mundialCambios figure.slides .slide img {
  max-width: 50%;
}

section.clima .cuadro {
  background: rgba(255, 255, 255, 0.8);
  padding: 5em 3em;
  text-align: center;
}

section.clima .cuadro h2 {
  text-transform: capitalize;
  font-size: 2.5em;
  width: 60%;
  font-weight: 300;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

section.clima .cuadro p.clima-tiempo {
  font-weight: 300;
  vertical-align: middle;
  margin: 0 0.5rem 0;
  display: inline-block;
  font-size: 4em;
  width: 100%;
}

@media screen and (min-width: 58rem) {
  section.clima .cuadro p.clima-tiempo {
    font-size: 8em;
    width: auto;
  }
}

section.clima .cuadro p.clima-tiempo i {
  font-size: 0.7em;
}

section.clima .cuadro .clima-dia {
  display: inline-block;
  vertical-align: middle;
  background: rgba(163, 165, 168, 0.4);
  width: 90px;
  height: 180px;
  margin: 1em 0.3em;
  font-weight: 600;
  padding: 1em 0.5em;
}

section.clima .cuadro .clima-dia p {
  margin: 0;
  line-height: 1em;
  font-weight: 300;
}

section.clima .cuadro .clima-dia p.dia {
  font-size: 1em;
}

section.clima .cuadro .clima-dia p.max {
  font-size: 2rem;
}

section.clima .cuadro .clima-dia p.min {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}

section.clima .cuadro .clima-dia p.modo {
  font-size: 0.8rem;
  line-height: 1em;
}

section.clima .cuadro .clima-dia span {
  font-size: 1.8rem;
  line-height: 1.8em;
}

section.horarios .cuadro {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5em 1em 3em;
  text-align: center;
}

@media screen and (min-width: 35rem) {
  section.horarios .cuadro {
    padding: 5em 3em 3em;
  }
}

section.horarios .cuadro h2 {
  text-transform: capitalize;
  font-size: 2.5em;
  width: 60%;
  font-weight: 300;
  border-bottom: 1px solid black;
  margin: 0 auto 2em;
}

section.horarios .cuadro .horas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

section.horarios .cuadro .horas .hora {
  text-align: center;
  max-width: 25%;
  min-width: 140px;
  position: relative;
  margin: 0 0 1em;
}

section.horarios .cuadro .horas .hora:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  background: transparent;
}

section.horarios .cuadro .horas .hora h3 {
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: relative;
}

section.horarios .cuadro .horas .hora iframe {
  width: 100%;
  margin-bottom: 0;
}

section.noticias .cuadro {
  padding: 5em 3em;
  text-align: center;
}

section.noticias .cuadro h2 {
  text-transform: capitalize;
  font-size: 2.5em;
  width: 60%;
  font-weight: 300;
  color: #8DA5BF;
  margin: 1em auto 0.5em;
}

section.noticias .cuadro h3 {
  color: #8DA5BF;
  font-weight: 300;
  font-size: 1.7em;
}

section.noticias .cuadro .bloque {
  vertical-align: top;
  text-align: left;
}

@media screen and (min-width: 47rem) {
  section.noticias .cuadro .bloque {
    margin: 2%;
    width: 45%;
    display: inline-block;
  }
}

section.noticias .cuadro .bloque .feedEkList {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.noticias .cuadro .bloque .feedEkList li {
  margin-bottom: 1em;
}

section.noticias .cuadro .bloque .itemDate {
  color: #a2a2a2;
  margin: 0.3em 0 0.3em 1em;
}

section.noticias .cuadro .bloque a {
  color: #222;
  font-weight: 300;
  display: inline-block;
  font-size: 1.2em;
}

section.noticias .cuadro .bloque a:before {
  content: '> ';
  font-size: 0.8em;
  position: relative;
  top: -2px;
}

section.noticias .cuadro .bloque a:hover {
  text-decoration: none;
  color: #902c30;
}

section.politica {
  padding-bottom: 12em;
}

section.politica h2 {
  color: #902c30;
  font-weight: 300;
  font-size: 2.5em;
  text-align: center;
}

section.politica .billetes {
  position: relative;
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

section.politica .billetes figure {
  margin: 0;
  max-width: 47%;
}

section.politica .billetes figure img {
  max-width: 100%;
}

section.politica .billetes figure p {
  color: #666;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

section.politica p, section.politica h3 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section.politica p span, section.politica h3 span {
  color: #902c30;
}

section.politica ol.lista {
  max-height: 100px;
  width: 80%;
  margin: 1em auto;
  position: relative;
  left: -1em;
  padding: 0 1em;
  text-align: left;
  overflow: visible;
  -webkit-columns: 2 2em;
  -moz-columns: 2 2em;
  columns: 2 2em;
}

section.politica ol.lista > li {
  position: relative;
  left: 1em;
  margin: 2px;
}

section.politica ol.lista > li ul {
  padding: 0 1em;
}

footer.footer section.form.cuadro {
  color: #fff;
  text-align: center;
  margin: 0 auto 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid red;
}

footer.footer section.form.cuadro h2 {
  color: #fff;
  font-weight: 300;
  text-transform: capitalize;
}

footer.footer section.form.cuadro p {
  font-weight: 300;
  margin: 0.25em;
  line-height: 1em;
}

footer.footer section.form.cuadro form {
  max-width: 800px;
  margin: 2em auto;
}

footer.footer section.form.cuadro form .label {
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
}

footer.footer section.form.cuadro form .label label {
  text-align: right;
  width: 150px;
  margin-right: 1em;
}

footer.footer section.form.cuadro form .label input, footer.footer section.form.cuadro form .label textarea {
  padding: 0.2em;
  width: 500px;
  margin: 0;
  border: 1px solid red;
  background: transparent;
}

footer.footer section.form.cuadro form .label.mensaje {
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
}

footer.footer section.form.cuadro form .label.mensaje textarea {
  height: 120px;
}

footer.footer section.form.cuadro form .label .button {
  text-align: left;
  width: 500px;
  margin: 2em auto 1em;
}

footer.footer section.form.cuadro form .label .button a {
  border: 1px solid red;
  padding: 0.5em 1em;
  background: transparent;
  color: #fff;
}

footer.footer section.form.cuadro form .label .button a:hover {
  background: red;
  text-decoration: none;
}

footer.footer article.locales.cuadro .locales {
  padding-top: 0;
  padding-bottom: 3em;
}

@media screen and (min-width: 35rem) {
  footer.footer article.locales.cuadro .locales {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
  }
}

footer.footer article.locales.cuadro .locales .local {
  width: 100%;
  padding: 1em 2em;
  color: #fff;
  line-height: 1em;
}

@media screen and (min-width: 47rem) {
  footer.footer article.locales.cuadro .locales .local {
    width: 33.333%;
  }
}

footer.footer article.locales.cuadro .locales .local h4 {
  color: #fff;
  margin: 0;
  font-weight: 600;
}

footer.footer article.locales.cuadro .locales .local p {
  margin-bottom: 0;
  font-weight: 300;
  color: #ddd;
  line-height: 1.2em;
}

footer.footer article.locales.cuadro .locales .local .ubicacion {
  margin-bottom: 0;
  font-weight: 300;
  color: #ddd;
  line-height: 1.2em;
}

footer.footer article.locales.cuadro .locales .local .ubicacion .modal {
  color: #ddd;
  font-size: 1em;
  font-family: "ubuntu", sans-serif;
}

footer.footer article.locales.cuadro .locales .local .ubicacion .icon-compas {
  line-height: 2em;
  font-size: 0.8em;
  margin-right: 0.3em;
}

.wrapper {
  max-width: 1680px;
  margin: 2em auto 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.cuadro {
  max-width: 1024px;
  width: 90%;
  min-height: 200px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

section, header, hr.white {
  position: relative;
  margin: 0;
  padding: 1.5em 0;
  background-color: transparent;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

hr.white {
  position: absolute;
  bottom: 0;
}

header.header {
  padding-bottom: 2.5rem;
  z-index: 8;
  background-image: url("../img/bg/bg-header.png");
  background-position: bottom left;
  background-size: cover;
}

header.header .cuadro {
  min-height: auto;
  background-color: none;
}

section {
  padding-top: 7em;
}

section.cambios {
  z-index: 7;
  background-image: url("../img/bg/bg-cambios.png");
}

section.mundialCambios {
  z-index: 6;
  background-image: url("../img/bg/bg-withe.png");
}

section.clima {
  z-index: 5;
  background-image: url("../img/bg/bg-clima.png");
}

hr.white {
  border: 0px;
  margin: 0;
  padding: 0;
  height: 10rem;
  z-index: 4;
  background-image: url("../img/bg/bg-withe.png");
}

section.horarios {
  padding-bottom: 6em;
  z-index: 3;
  background-image: url("../img/bg/bg-horaMundial.png");
}

section.politica {
  z-index: 2;
  background-image: url("../img/bg/bg-withe-shadow.png");
}

section.noticias {
  z-index: 1;
  background-image: url("../img/bg/bg-withe.png");
}

footer.footer {
  z-index: 0;
  background-color: #902c30;
}

.creators p {
  margin: 0;
  line-height: 2em;
}
