doctype html
html(lang='Es-Py')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    block title
      title Mundial Cambios
      meta(name='description', content='Mundial Cambios')

    meta(name='autor', content='Fincreativo')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700')
    link(rel='stylesheet', href='assets/css/main.css')

  body
    <!--[if lt IE 8]>
    p.browserupgrade.
      Estas usando un nevegador <strong>viejo</strong>.
      Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> para mejorar tu experiencia.
    <![endif]-->

    #preload.preload
      .loading

    include ../_sections/header
    .wrapper#wrapper
      block body
    
    script(type='text/javascript',src='https://code.jquery.com/jquery-2.1.4.min.js')
    script
      |$(window).load(function()
      |{$("#preload").fadeOut('');
      |});
    script(type='text/javascript',src='https://maps.googleapis.com/maps/api/js')
    script(type='text/javascript',src='assets/js/waypoints.min.js')
    script(type='text/javascript',src='assets/js/xpanel.min.js')
    script(type='text/javascript',src='assets/js/owl.carousel.min.js')
    script(type='text/javascript',src='assets/js/FeedEk.js')
    script(type='text/javascript',src='assets/js/functions.min.js')